/* body section*/
body{
    margin:0;
    padding:0;
    background-image:url(front.jpg);
    background-size: cover;
    background-color: aqua;
}

/*header section*/
header{
    background-color: brown;
    height:20px;
    width:100%;
    margin:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;

}

.header a:hover {
    background-color:orange; 
    text-decoration: none;
}
/*container section*/
.container{
    margin-left: 100;
    margin-right: 100;
}
.container{
font-size:16px;     
margin-top:0;
margin-bottom:0;
opacity:1;
margin-left:30%;
margin-right:30%;
text-align:center;
background-color:brown;
padding: 2px 0px 40px 0px;
border-radius:20px;
}

section{
    height:200px;
    width:100%;
    padding-top: auto;
    padding-right:50px; 
    padding-left:50px;
    padding-bottom:auto;
}

/*paragraph section*/
p{
    color:aqua;
    text-transform: capitalize;
     margin: 0px 50px 0px 50px;
     padding:2px 2px;
     background-color:black;
}
/*heading tag section*/
h1{
    color:black;
}

h2{
    color:green;
    margin: 20px 50px;
}
/*table section*/
table{
    margin-left: 40px;
    padding:0;
    height:100%;
}

table th{
    color:green;
}